body {
  padding-top: 50px;
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  color: white;
  text-align: center;
  background-image: url("https://theongoingrms.files.wordpress.com/2013/07/giphy-riffed-1.gif?w=500");
  p {
    width: 75%;
    margin: auto;
  }
}

#gif_container {
  .terms {
    margin-top: 20px;
    .fa {
      color: blue;
      &:hover {
        color: red;
      }
    }
  }
}
