body {
  padding-top: 50px;
  padding-bottom: 70px; }

.navbar {
  margin-bottom: 0; }

.jumbotron {
  color: white;
  text-align: center;
  background-image: url("https://theongoingrms.files.wordpress.com/2013/07/giphy-riffed-1.gif?w=500"); }
  .jumbotron p {
    width: 75%;
    margin: auto; }

#gif_container .terms {
  margin-top: 20px; }
  #gif_container .terms .fa {
    color: blue; }
    #gif_container .terms .fa:hover {
      color: red; }

#home_container {
  text-align: center; }
  #home_container p img {
    text-align: center; }

.navbar-fixed-bottom {
  color: gray; }
  .navbar-fixed-bottom p {
    float: right; }
